{{ form_start(form) }}
    {{ form_label(form.title, 'Title', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'input'}} ) }}
    {{ form_label(form.short_description, 'Short description', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.short_description, {'attr': {'class': 'textarea'}}) }}
    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.description, {'attr': {'class': 'textarea'}}) }}
    {{ form_label(form.url, 'Url', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.url, {'attr': {'class': 'input'}} ) }}
    {{ form_widget(form) }}
    {{ dump(form) }}
    <button class="button is-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
