{% extends 'base.html.twig' %}

{% block title %}Hello FrontPageController!{% endblock %}

{% block body %}
<div class="what-we-have">
    <ul class="entity-list">
        <li>Ingredient (<a href="{{ path('ingredient_index') }}">list</a>)</li>
        <li>Recipe (<a href="{{ path('recipe_index') }}">list</a>)</li>
        <li>RecipeItem (<a href="{{ path('recipe_item_index') }}">list</a>)</li>
        <li>StreamCondition (<a href="{{ path('stream_condition_index') }}">list</a>)</li>
        <li>TypeOfIngredient (<a href="{{ path('type_of_ingredient_index') }}">list</a>)</li>
        <li>WaterTemperatureCondition (<a href="{{ path('water_temperature_condition_index') }}">list</a>)</li>
        <li>Brand (<a href="{{ path('brand_index') }}">list</a>)</li>
    </ul>
</div>

{% endblock %}
