{% extends 'base.html.twig' %}

{% block title %}StreamCondition{% endblock %}

{% block body %}
    <h1>StreamCondition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stream_condition.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ stream_condition.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stream_condition_index') }}">back to list</a>

    <a href="{{ path('stream_condition_edit', {'id': stream_condition.id}) }}">edit</a>

    {{ include('stream_condition/_delete_form.html.twig') }}
{% endblock %}
