{% extends 'base.html.twig' %}

{% block title %}IngredientType index{% endblock %}

{% block body %}
    <h1>IngredientType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient_type in ingredient_types %}
            <tr>
                <td>{{ ingredient_type.id }}</td>
                <td>{{ ingredient_type.title }}</td>
                <td>
                    <a href="{{ path('ingredient_type_show', {'id': ingredient_type.id}) }}">show</a>
                    <a href="{{ path('ingredient_type_edit', {'id': ingredient_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ingredient_type_new') }}">Create new</a>
{% endblock %}
